@import '/main.css';
/*----------------HEADER------------------*/
header{
    min-height: 70vh;
}
.header_text{
    position: relative;
    top: 3rem;
    font-weight: 700 !important;
}
/*----------------END HEADER------------------*/
/*----------------CONTENT------------------*/
.info{
    position: relative;
    top: 5rem;
    min-height: 100vh;
}
#first-col{
    background: var(--color-primary);
}
.title{
    margin: 0;
    padding: 0;
    color: var(--color-bg-3);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
}
#first-col .login_link:hover{
   text-decoration: underline !important;
   color: var(--color-bg-3);
}
#second-col{
    background: var(--color-bg-4);
}
#second-col .subtitle{
    font-size: 0.8rem;
    text-transform: uppercase;
}
#second-col .subtitle::after{
    display: none;
}
.subtitle-info{
    margin-top: 2rem;
    color: var(--color-bg-3);
}
.subtitle-info h5{
    text-transform: capitalize;
}
.col-text{
    font-size: 1rem;
}
.list-group-item{
    color: var(--color-bg-3);
    border: none !important;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 0.8rem;
}
/*----------------END CONTENT------------------*/
/*----------------CARDS------------------*/
#card-custom{
    min-height: 100vh;
    position: relative;
    top: 5rem;
}
.cards-container{
    background: var(--color-bg-4);
}
.cards-container .title{
    color: var(--color-white);
}
.card{
    overflow: hidden !important;
    transition: all 1s ease-out !important;
}
.card-body{
    background: var(--color-bg-3);
}
.card-text{
    color: var(--color-secondary);
    font-weight: 800;
    text-align: center;

    text-transform: uppercase;
}
.card-img-top{
    transition: transform 0.5s ease-in-out;
}
.card-img-top:hover{
    transform: scale(1.1);
}
/*----------------END CARDS------------------*/
/*----------------FOOTER------------------*/
footer{
    position: relative;
    top: 5rem;
}
/*----------------END FOOTER------------------*/
@media (min-width:900px){
    .header-title{
        font-size: 3rem;
    }
    .title{
        font-size: 2rem 
    }
    #second-col .subtitle{
        font-size: 1rem !important;
    }
    .col-text{
        font-size: 1.2rem;
    }
    .list-group-item{
        font-size: 0.9rem;
    }

}